<div class="wrapper">
  <%= form_tag grandmas_path, method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control",
    placeholder: "Find a grandma"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <div class="container">
      <% unless @grandmas.any? %>
      <h1>So sorry, no Grandmas for you :(</h1>
      <% else %>
      <h1 class="mb-4" style="color:black">Grandmothers in your Area</h1>
      <% end %>
      <div class="cards">
        <% @grandmas.each do |grandma| %>
        <a href="<%="/grandmas/#{grandma.id}"%>">
          <div class="card-grandmother">
            <div class="grandma-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path grandma.avatar, height: 300, width: 400 %>')"></div>
            <%#= cl_image_tag grandma.avatar, alt: grandma.id, class: 'bg-gm' %>
            <div class="card-grandmother-infos">
              <div>
                <h2><%= grandma.first_name %> <%= grandma.last_name %> <%= grandma.age %></h2>
                <p> Description</p>
              </div>
            </div>
          </div>
        </a>
        <%#= link_to grandma,grandma_path(grandma) %>
        <%#= link_to "Delete Grandma",grandma_path(grandma), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>





