<h1>Create a new Grandma</h1>

<%= simple_form_for(@grandma) do |f| %>
  <div class="container">
    <%= f.input :first_name, class: 'form-control' %>
    <%= f.input :last_name, class: 'form-control' %>
    <%= f.input :age, class: 'form-control' %>
    <%= f.input :location, class: 'form-control' %>
    <%= f.input :skills, collection: Skill.all %>
    <label class="btn btn-primary">
      Add a file!
      <span style="display:none">
        <%= f.file_field :avatar, required: true, multiple: true, name: 'picture' %>
      </span>
    </label>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden, class: 'btn btn-outline-info' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>


