<h1>Create a new Grandma</h1>

<%= simple_form_for(@grandma) do |f| %>
  <div class="form-group">
    <%#= f.label :first_name %>
    <%= f.input :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%#= f.label :last_name %>
    <%= f.input :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%#= f.label :age %>
    <%= f.input :age, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%#= f.label :location %>
    <%= f.input :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%#= f.label :avatar %>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>


