<div class="container">

  <h2>Add a new grandma to the community</h2>

  <%= simple_form_for(@grandma) do |f| %>
  <div class="container">
    <p>STEP 1 : Who is the grandma you would like to add?</p>
    <div class ="d-flex justify-content-between">
      <%= f.input :first_name, class: 'form-control' %>
      <%= f.input :last_name, class: 'form-control' %>
      <%= f.input :age, class: 'form-control' %>
    </div>
    <%= f.input :location, class: 'form-control' %>
    <p>STEP 2 : What are her extraordinary talents?</p>
     <%= f.association :skills, as: :check_boxes %>

    <p>STEP 3 : Add a photo to complete her profile</p>
      <%= f.input :avatar  %>
      <%= f.input :avatar_cache, as: :hidden %>
      <%= f.submit class: 'btn-grad' %>


  </div>
<% end %>

</div>




