<div class="container">
  <div class="grandma-profile-title text-">
    <h1 class="text-center">Book your Grandma moment</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="grandma-head-photo">
        <%= cl_image_tag @grandma.avatar, g: :face, class: 'avatar-extra-large' %>
      </div>
    </div>
    <div class="col-6">
      <div
        id="map"
        style="width: 100%; height: 400px !important;
        height: 38%;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="col-6">
      <div class="grandma-name-age">
        <p>Name: <%= @grandma.first_name %> <%= @grandma.last_name %></p>
        <p>Age: <%= @grandma.age %></p>
        <p>Skills:</p>
        <% @grandma.skills.each do |skill| %>
          <p><%= skill %></p>
        <% end %>
      </div>
    </div>
  </div>



<%= simple_form_for([@grandma, @booking]) do |f| %>
  <div class="form-group">
    <%= f.input :start_date, html5: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :end_date, html5: true, class: 'form-control' %>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
