<div class="container">
    <h1>Your Booking details</h1>
<div class="booking-grid" style="text-align: center">
  <div class="booking-details">
   <h2><%= "#{@booking.grandma.first_name} #{@booking.grandma.last_name}" %></h2>
    <br>
      <img class="avatar-large" src="<%= cl_image_path @booking.grandma.avatar%>" />
    <br>
    <p class="booking-status">
    Booking status: </br>
      <strong>
      <%= @status%></strong></p>
    <br>
    <div class=" booking-date d-flex justify-content-between">
       <div >
        <p> <strong>START DATE: </strong></p>
        <%= "#{@booking.start_date}" %>
      </div>
      <div >
        <p> <strong>END DATE: </strong></p>
        <%= "#{@booking.end_date}" %>
      </div>
    </div>


  <!-- <p> Your booking starts on : <%= @booking.start_date %></p>
  <p> Your booking ends on :<%= @booking.end_date %></p> -->
  </div>

  <div class="booking-details">
    <h2>Your review</h2>
    <% if @booking.review.present? %>
    <p><%= "#{@booking.review.content}" %></p>
    <h2>Your rating:</h2>
    <p>
      <%@booking.review.score.times do %>
      <i class="fas fa-cookie-bite" style="color: #7045af;"></i>
        <% end %>
      </p>
    <% end %>
    <% if @status == "passed" && @booking.review.nil? %>
      <%= simple_form_for([@booking, @review]) do |f| %>
        <div class="form-group">
        <%= f.input :content, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.input :score, class: 'form-control' %>
        </div>
        <%= f.submit class: 'btn-grad-full-width' %>
      <% end %>
    <% end %>
  </div>


  </div>
</div>




