<div class="profile-banner">
  <div class="container">
    <h1>Hello, <%= @user.first_name %></h1>
    <div class="card-container">
      <div class="card-profile">
        <% if current_user.avatar.blank? %>
        <img class="avatar-large" src="https://hsc.unm.edu/community/assets/img/faces/no-image.png" />
          <% else %>
        <img class="avatar-large" src="<%= cl_image_path current_user.avatar%>" />
        <% end %>
        <div class="card-profile-infos">
          <div class="row">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
          </div>
          <div class="row">
            <div class="col">
              <h5><%= @user.age %></h5>
              <p><i>Age</i></p>
            </div>
            <div class="col">
              <h5><%= @user.location %></h5>
              <p><i>Location</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="profile-container">
  <h2 style="color: #182952">Your Grandmas</h2>
  <div class="cards">
      <% @grandmas.each do |grandma| %>
      <a href="<%="/grandmas/#{grandma.id}"%>">
      <div class="card-grandmother">
        <div class="grandma-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path grandma.avatar, height: 300, width: 400 %>')"></div>
        <div class="card-grandmother-infos">
          <div>
            <h2><%= grandma.first_name %> <%= grandma.last_name %> <%= grandma.age %></h2>
            <p> Description</p>
           </div>
           <div class="grandma-edit">
              <button class="btn-grandma-edit"><i class="fa fa-pen-fancy"></i></button>
              <button class="btn-grandma-edit"><i class="fa fa-user-times"></i></button>
          </div>
        </div>
      </div>
      </a>
      <% end %>
    </div>
  <!-- <button> -->
    <%= link_to "Add a grandma", new_grandma_path, class: "btn-grad" %>
  <!-- </button> -->
</div>
<hr>
<div class="profile-container">
    <h2>Your Bookings</h2>
  <% @bookings.each do |booking| %>
  <%=booking %>
  <% end %>
 <!--  <button> -->
    <%= link_to "Make a new booking", grandmas_path, class: "btn-grad" %>
 <!--  </button> -->
</div>
</div>

